{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
	 {# inclus le block CSS commun #}
	 {{ parent() }}
	 {# Insertion du fichier JS dans le block stylesheets #}
	 {# La documentation de Recaptcha préconise en effet d'intégrer ce fichier JS dans le head #}
	 <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}	

{% block body %}
<div class="container-lg">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 bg-post border border-dark rounded p-4 mt-4">	

			<h1 class="h2 text-title-h1 text-center mt-1">Contactez-nous</h1>

			{{ form_start(form) }}

			    {{ form_widget(form) }}

                {# Affichage du recaptcha #}
                <div class="mb-3">
                    {# La clé publique est récupérée en paramètre dans le fichier config/packages/twig.yaml #}
                    <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}" data-theme="dark" data-size="normal"></div>
                </div>			    

			    <button class="btn btn-outline-info w-100 my-4">Envoyer mon message</button>
			    
			{{ form_end(form) }}
		
		</div>
	</div>
</div>
{% endblock %}