{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container-fluid m-0 p-0">

    {# Titre h1 #}
    <div class="row">
        <h1 class="col-12 text-center text-title-h1 mt-3 mb-5">Blog<i class="fa-solid fa-blog px-3"></i>wf3</h1>
    </div>

    {# Paragraphe de présentation #}
    <div class="row bg-dark p-2">

        <h2 class="text-title-h2 text-center col-12 my-2">Exemple de structure de blog sur SYMFONY 6</h2>

        <p class="col-12 col-md-10 offset-md-1 text-center mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aut commodi consequatur, cupiditate, dolor dolorum est, explicabo in iste mollitia natus necessitatibus odio officia possimus quasi quia quibusdam ratione reiciendis sed sequi soluta suscipit unde vel veritatis voluptate? Aperiam dolorem porro quo ut voluptas.</p>

    </div>

    {# Affichage des dernières publications #}
    <div class="row mt-5 p-2">

        <div class="col-12 col-md-8 offset-md-2">

            <div class="row">
                <h2 class="col-12 text-title-h2 text-center mb-4">Nos dernières publications</h2>
            </div>

            {# Boucle pour parcourir tous les publications à afficher #}
            {% for post in posts %}

                <div class="row p-2">
                    <div class="col-12">

                        <div class="card my-3 bg-post">
                            <div class="card-header">
                                {# Titre de la publication, cliquable vers la page détaillée de celle-ci #}
                                <a class="text-decoration-none text-title-h1" href="{{ path('app_blog_show_post', {'slug': post.slug}) }}">
                                    <i class="fa-solid fa-xl fa-file-circle-check pe-4"></i>{{ post.title }}
                                </a>
                            </div>

                            <div class="card-body">
                                <div class="mb-2 text-justify">
                                    {# Affichage du contenu de la publication, tronqué à 400 caractères, suivi de "..." et d'un lien "lire la suite" #}
                                    {{ post.content|slice(0, 400) }}  ...
                                    <a class="text-decoration-none text-title-h2" href="{{ path('app_blog_show_post', {'slug': post.slug}) }}"> Lire la suite</a>
                                </div>

                                {# Date et auteur de la publication et de la modification si nécessaire #}
                                <div class="my-2 text-muted">
                                    Publié le <span class="text-warning">{{ post.createdAt|date('d/m/Y à H\\hi') }}</span> par <span class="text-success">Auteur</span>
                                    {% if post.updatedAt %}
                                        et modifié le <span class="text-warning">{{ post.updatedAt|date('d/m/Y à H\\hi') }}</span>
                                    {% endif %}
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            {% else %}

                <div class="row">
                    <p class="col-12 text-center alert alert-warning">Aucune publication à afficher.</p>
                </div>

            {% endfor %}                
           
        </div>

    </div>

</div>    
  
{% endblock %}