{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Slug</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.slug }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.createdAt|date('d/m/Y')  }}</td>
                <td>{{ post.updatedAt ? post.updatedAt|date('d/m/Y') : '' }}</td>
                <td>
                    <a class="text-success pe-2" href="{{ path('app_blog_show_post', {'id': post.id}) }}">voir plus</a>
                    <a class="text-info ps-2" href="{{ path('app_blog_edit_post', {'id': post.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune Publication</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_blog_new_post') }}">Nouvelle Publication</a>
{% endblock %}
